/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Global Classes */
/* line 34, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 45, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* nav */
/* line 52, ../sass/screen.scss */
#nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #ea636e;
}
/* line 61, ../sass/screen.scss */
#nav h1 {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
  zoom: 1;
  display: inline;
}
/* line 71, ../sass/screen.scss */
#nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}
/* line 79, ../sass/screen.scss */
#nav img {
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin: 0;
  margin-right: 3em;
  background-color: #ea636e;
}
/* line 85, ../sass/screen.scss */
#nav a:hover {
  background-color: #ca444e;
}
/* line 88, ../sass/screen.scss */
#nav #subnav, #nav #subnav-new {
  position: absolute;
}
/* line 91, ../sass/screen.scss */
#nav #subnav a, #nav #subnav-new a {
  display: block;
}
/* line 95, ../sass/screen.scss */
#nav .heighlight {
  background-color: #ff838e;
}
/* line 98, ../sass/screen.scss */
#nav .last-button {
  display: none;
}
/* line 101, ../sass/screen.scss */
#nav .bigger-than-window {
  height: 100%;
  overflow: scroll !important;
}
/* line 105, ../sass/screen.scss */
#nav .bigger-than-window-noscroll {
  overflow: hidden;
}
@media (max-width: 650px) {
  /* line 52, ../sass/screen.scss */
  #nav {
    position: fixed;
    width: 100%;
  }
  /* line 113, ../sass/screen.scss */
  #nav a {
    position: static;
    display: block;
    width: 90%;
    padding: 5%;
    z-index: 1;
  }
  /* line 120, ../sass/screen.scss */
  #nav .last-button {
    position: static;
    display: block;
    padding: 5%;
    width: 90%;
    background-color: #ccc;
  }
  /* line 127, ../sass/screen.scss */
  #nav #subnav {
    width: 100%;
    position: static;
    display: none !important;
  }
  /* line 132, ../sass/screen.scss */
  #nav #subnav-new {
    display: none !important;
    width: 100%;
  }
  /* line 135, ../sass/screen.scss */
  #nav #subnav-new a {
    width: 100%;
  }
  /* line 139, ../sass/screen.scss */
  #nav .selected {
    /*background-color: #999;*/
  }
}

/* line 145, ../sass/screen.scss */
.home .background {
  background: no-repeat;
  background-position: center;
}

/* ` */
/* other pages */
/* line 154, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 159, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 163, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* SECTIONS */
/* HOME */
/* line 172, ../sass/screen.scss */
#index-1 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 180, ../sass/screen.scss */
#index-2 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 188, ../sass/screen.scss */
#index-3 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* why-rainforest */
/* about-the-kayapo */
/* line 205, ../sass/screen.scss */
#about-the-kayapo-1 {
  background-color: #2a78a0;
}

/* line 209, ../sass/screen.scss */
#about-the-kayapo-2 {
  background-color: #2a78a0;
}

/* line 213, ../sass/screen.scss */
#about-the-kayapo-3 {
  background-color: #2a78a0;
}

/* line 217, ../sass/screen.scss */
#about-the-kayapo-4 {
  background-color: #2a78a0;
}

/* kayapo-proj */
/* line 224, ../sass/screen.scss */
#kayapo-proj-1 {
  background-color: #5d8079;
}

/* line 228, ../sass/screen.scss */
#kayapo-proj-2 {
  background-color: #5d8079;
}

/* line 232, ../sass/screen.scss */
#kayapo-proj-modal-territory {
  background-color: #284646;
}

/* line 236, ../sass/screen.scss */
#kayapo-proj-modal-economy {
  background-color: #284646;
}

/* line 240, ../sass/screen.scss */
#kayapo-proj-modal-institution {
  background-color: #284646;
}

/* kayapo-proj */
/* line 247, ../sass/screen.scss */
#donate-1 {
  background-color: #e53827;
}
/* line 250, ../sass/screen.scss */
#donate-1 blockquote {
  font-family: "Verlag A", "Verlag B";
}

/* CUSTOM STYLES */
/* line 259, ../sass/screen.scss */
.hide {
  display: none;
}

/* Media Queries */
/* line 264, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
