/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Global Classes */
/* line 35, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 46, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 52, ../sass/screen.scss */
section {
  min-height: 100%;
  width: 100%;
}

/* nav */
/* line 58, ../sass/screen.scss */
nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #e53827;
  text-transform: uppercase;
}
/* line 68, ../sass/screen.scss */
nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
}
/* line 76, ../sass/screen.scss */
nav li {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}

/* line 86, ../sass/screen.scss */
.home .background {
  background: no-repeat;
  background-position: center;
}

/* ` */
/* other pages */
/* line 95, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 100, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 104, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* SECTIONS */
/* HOME */
/* line 113, ../sass/screen.scss */
#index-1 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 121, ../sass/screen.scss */
#index-2 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 129, ../sass/screen.scss */
#index-3 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* why-rainforest */
/* line 139, ../sass/screen.scss */
#why-rainforest-1 {
  text-align: center;
  color: #fff;
}
/* line 144, ../sass/screen.scss */
#why-rainforest-1 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-weight: 700;
  font-style: italic;
  font-size: 5em;
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 153, ../sass/screen.scss */
#why-rainforest-1 small {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-size: 2em;
}

/* line 161, ../sass/screen.scss */
#why-rainforest-2 blockquote {
  color: #fff;
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-size: 4em;
  width: 100%;
}

/* about-the-kayapo */
/* line 173, ../sass/screen.scss */
#about-the-kayapo-1 {
  background-color: #2a78a0;
}

/* line 177, ../sass/screen.scss */
#about-the-kayapo-2 {
  background-color: #2a78a0;
}

/* line 181, ../sass/screen.scss */
#about-the-kayapo-3 {
  background-color: #2a78a0;
}

/* line 185, ../sass/screen.scss */
#about-the-kayapo-4 {
  background-color: #2a78a0;
  color: #fff;
  text-align: center;
}
/* line 192, ../sass/screen.scss */
#about-the-kayapo-4 h2 {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-size: 3em;
}
/* line 198, ../sass/screen.scss */
#about-the-kayapo-4 img {
  width: 600px;
}

/* line 203, ../sass/screen.scss */
#about-the-kayapo-5 {
  background-color: #2a78a0;
}

/* kayapo-proj */
/* line 211, ../sass/screen.scss */
#kayapo-proj-1 {
  background-color: #5d8079;
  color: #a2cd39;
}
/* line 215, ../sass/screen.scss */
#kayapo-proj-1 blockquote {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1em 0;
  font-family: "Verlag A", "Verlag B";
}

/* line 226, ../sass/screen.scss */
#kayapo-proj-2 {
  background-color: #5d8079;
  color: #a2cd39;
  font-family: "Verlag A", "Verlag B";
}
/* line 232, ../sass/screen.scss */
#kayapo-proj-2 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  font-size: 4em;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}
/* line 241, ../sass/screen.scss */
#kayapo-proj-2 #funds-divs {
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 7em 0 0 0;
  width: 60%;
  margin: 3em auto 0 auto;
}
/* line 251, ../sass/screen.scss */
#kayapo-proj-2 #funds-divs div {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}

/* line 260, ../sass/screen.scss */
#kayapo-proj-2 > p:first-of-type {
  font-size: 1.5em;
  width: 70%;
  margin: 1em auto 0 auto;
  text-align: center;
}

/* line 267, ../sass/screen.scss */
#kayapo-proj-modal-territory {
  background-color: #284646;
}

/* line 271, ../sass/screen.scss */
#kayapo-proj-modal-economy {
  background-color: #284646;
}

/* line 275, ../sass/screen.scss */
#kayapo-proj-modal-institution {
  background-color: #284646;
}

/* kayapo-proj */
/* line 282, ../sass/screen.scss */
#donate-1 {
  font-family: "Verlag A", "Verlag B";
  background-color: #e53827;
  color: #fff;
  padding: 2em 0 3em 0;
  text-align: center;
}
/* line 289, ../sass/screen.scss */
#donate-1 blockquote {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1em 0;
}
/* line 297, ../sass/screen.scss */
#donate-1 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
  font-size: 2em;
  margin: 0.5em 0 0.2em 0;
}
/* line 304, ../sass/screen.scss */
#donate-1 p {
  font-size: 0.9em;
  padding: 0 0.5em 0 0.5em;
}
/* line 308, ../sass/screen.scss */
#donate-1 div {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 314, ../sass/screen.scss */
#donate-1 img {
  width: 100%;
  height: auto;
}

/* line 320, ../sass/screen.scss */
#contact {
  text-align: center;
  background-color: #fedf00;
}
/* line 325, ../sass/screen.scss */
#contact h2 {
  font-family: "Acropolis A", "Acropolis B";
  color: #fedf00;
  font-style: italic;
  font-size: 4em;
}

/* line 333, ../sass/screen.scss */
#contact-footer {
  background-color: #5d8079;
}

/* line 337, ../sass/screen.scss */
#donate-2 {
  background-color: #fedf00;
}
/* line 339, ../sass/screen.scss */
#donate-2 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-size: 4em;
  font-style: italic;
  color: #fedf00;
}

/* line 350, ../sass/screen.scss */
#the-threat-2 {
  vertical-align: bottom;
}
/* line 352, ../sass/screen.scss */
#the-threat-2 blockquote {
  font-family: "Verlag A", "Verlag B";
  font-size: 4em;
  color: #000;
  font-weight: 700;
}

/* line 360, ../sass/screen.scss */
#the-threat-3 {
  text-align: center;
}
/* line 362, ../sass/screen.scss */
#the-threat-3 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  font-size: 3em;
}

/* line 370, ../sass/screen.scss */
#about-the-kayapo-3 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  font-size: 3em;
}
/* line 375, ../sass/screen.scss */
#about-the-kayapo-3 h3 {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-size: 1em;
  color: #fedf00;
}
/* line 381, ../sass/screen.scss */
#about-the-kayapo-3 p {
  color: #fff;
}

/* line 388, ../sass/screen.scss */
#text-top-left {
  width: 30%;
  color: #fedf00;
  display: inline-block;
  vertical-align: top;
}
/* line 394, ../sass/screen.scss */
#text-top-left p {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-size: 1em;
  color: #fff;
}

/* line 402, ../sass/screen.scss */
#text-top-right {
  display: inline-block;
  margin: 0;
  right: 0;
  position: absolute;
}

/* CUSTOM STYLES */
/* line 411, ../sass/screen.scss */
#one-time {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: 0.6;
}

/* line 421, ../sass/screen.scss */
#one-time:hover {
  opacity: 1;
}

/* line 425, ../sass/screen.scss */
#monthly:hover {
  opacity: 1;
}

/* line 429, ../sass/screen.scss */
#monthly {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: 0.6;
}

/* line 439, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 443, ../sass/screen.scss */
.donation {
  color: #000;
  background-color: #fedf00;
  text-align: center;
  padding: 6px;
  margin: 0 auto 0 auto;
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  width: 400px;
}
/* line 456, ../sass/screen.scss */
.donation a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  border: #000 solid 4px;
  font-size: 2em;
  display: block;
  padding: 0.2em;
}

/* Media Queries */
/* line 468, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
