/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Global Classes */
/* line 35, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 46, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 52, ../sass/screen.scss */
section {
  min-height: 100%;
  width: 100%;
}

/* nav */
/* line 58, ../sass/screen.scss */
nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #e53827;
  text-transform: uppercase;
}
/* line 68, ../sass/screen.scss */
nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
}
/* line 76, ../sass/screen.scss */
nav li {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}

/* line 86, ../sass/screen.scss */
.home .background {
  background: no-repeat;
  background-position: center;
}

/* ` */
/* other pages */
/* line 95, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 100, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 104, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* SECTIONS */
/* HOME */
/* line 113, ../sass/screen.scss */
#index-1 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 121, ../sass/screen.scss */
#index-2 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* line 129, ../sass/screen.scss */
#index-3 blockquote {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
}

/* why-rainforest */
/* about-the-kayapo */
/* line 146, ../sass/screen.scss */
#about-the-kayapo-1 {
  background-color: #2a78a0;
}

/* line 150, ../sass/screen.scss */
#about-the-kayapo-2 {
  background-color: #2a78a0;
}

/* line 154, ../sass/screen.scss */
#about-the-kayapo-3 {
  background-color: #2a78a0;
}

/* line 158, ../sass/screen.scss */
#about-the-kayapo-4 {
  background-color: #2a78a0;
}

/* kayapo-proj */
/* line 165, ../sass/screen.scss */
#kayapo-proj-1 {
  background-color: #5d8079;
  color: #a2cd39;
}
/* line 169, ../sass/screen.scss */
#kayapo-proj-1 blockquote {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1em 0;
  font-family: "Verlag A", "Verlag B";
}

/* line 180, ../sass/screen.scss */
#kayapo-proj-2 {
  background-color: #5d8079;
  color: #a2cd39;
}
/* line 184, ../sass/screen.scss */
#kayapo-proj-2 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  font-size: 4em;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* line 194, ../sass/screen.scss */
#kayapo-proj-modal-territory {
  background-color: #284646;
}

/* line 198, ../sass/screen.scss */
#kayapo-proj-modal-economy {
  background-color: #284646;
}

/* line 202, ../sass/screen.scss */
#kayapo-proj-modal-institution {
  background-color: #284646;
}

/* kayapo-proj */
/* line 209, ../sass/screen.scss */
#donate-1 {
  font-family: "Verlag A", "Verlag B";
  background-color: #e53827;
  color: #fff;
  padding: 2em 0 3em 0;
  text-align: center;
}
/* line 216, ../sass/screen.scss */
#donate-1 blockquote {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1em 0;
}
/* line 224, ../sass/screen.scss */
#donate-1 h2 {
  font-family: "Acropolis A", "Acropolis B";
  font-style: italic;
  text-align: center;
  font-size: 2em;
  margin: 0.5em 0 0.2em 0;
}
/* line 231, ../sass/screen.scss */
#donate-1 p {
  font-size: 0.9em;
  padding: 0 0.5em 0 0.5em;
}
/* line 235, ../sass/screen.scss */
#donate-1 div {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 241, ../sass/screen.scss */
#donate-1 img {
  width: 100%;
  height: auto;
}

/* CUSTOM STYLES */
/* line 250, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 254, ../sass/screen.scss */
.donation {
  color: #000;
  background-color: #fedf00;
  text-align: center;
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  width: 400px;
}
/* line 264, ../sass/screen.scss */
.donation a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  border: #000 solid 3px;
  font-size: 2em;
  display: block;
}

/* Media Queries */
/* line 275, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
